/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
  text-decoration:none
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 2em;
  text-align: center;
  text-decoration:none;
  border: 5px solid white;
  border-radius:20px;
  background-image: url('https://wallpaperaccess.com/full/741452.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  
  
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

h1{
  color: white;
  background-image: url('https://img.freepik.com/free-photo/technology-network-background_34629-304.jpg?size=626&ext=jpg');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

h1:hover{
  opacity:80%;
  box-shadow: 0 10px 10px black;
}

p{
  text-align: justify;
  font-size:22px;
  color:white;
  background-color:black;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 0 10px 10px blue;
  padding:15px

}

img{
  border-radius:80px;
}

img:hover{
    opacity:80%;
    box-shadow: 0 10px 10px black;
}

footer{
  color:white;
  border: 5px solid white;
  border-radius:20px;
  background-color:black;
  opacity:60%  
}

footer a {
  text-decoration: none;
  color: grey;
  
}