/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
  padding: 2em;
  text-align: center;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

h1{
  color: white;
  background-image: url('https://img.freepik.com/free-photo/technology-network-background_34629-304.jpg?size=626&ext=jpg');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

h1:hover{
  opacity:30%
}

p{
  text-align: justify;
}

img{
  border-radius:80px;
}